.productPage {
  display: flex;
}
.searchDiv{
    display: flex;
    background-color: white;
    width: 50%;
    border-radius: 1rem;
}
.searchInput{
    outline: none;
    border: none;
    padding: 0.5rem 1rem;
    width: 70%;
    border-radius: 1rem;
    font-size: 16px;
}

.filter {
    width: 20%;
    padding: 1rem 0rem 0rem 2rem;
}

.priceDiv{
  display: flex;
  justify-content: space-between;
}

.priceDiv > p{
  display: flex;
  align-items: center;
  margin-bottom: .5rem;
}

.rating{
  transform: scale(.7);
}

.product {
  /* width: 70%; */
}
