* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
  background-repeat: no-repeat;
  height: auto;
  min-height: 100vh;
}

.logo {
  font-size: 2rem;
  text-decoration: none;
  color: black;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s ease;
}

.logo:hover {
  color: orange;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2.5rem;
  align-items: center;
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
  position: sticky;
  top: 0;
  z-index: 5;
}
.navbar > h2 {
  font-size: 2rem;
}

.link {
  margin: 0 1rem;
  font-size: 1.2rem;
  text-decoration: none;
  color: black;
  transition: 0.5s ease;
  cursor: pointer;
}

.link:hover {
  color: blue;
}

.linkDiv {
  display: flex;
  justify-content: space-between;
}

.productDiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 7rem;
}

.product {
  padding: 1rem;
  margin: 1rem;
  height: 300px;
  width: 300px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  border-radius: 0.7rem;
}
.button {
  margin: 0.2rem 0 !important;
}
.product > p {
  margin: 0.5rem 0;
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem;
}

.title {
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0.5rem 0;
}

.cart-footer {
  position: fixed;
  display: flex;
  justify-content: space-between;
  bottom: 0;
  background-color: white;
  width: 100%;
  padding: 2rem;
  font-size: 2rem;
  font-weight: bold;
  border-radius: 1rem 1rem 0 0;
}
